* {
  scroll-behavior: smooth;
  /* margin: 0; */
}

nav {
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
}

.carousel-item > img {
  aspect-ratio: 4 / 3;
  /* object-fit: cover;
  object-position: center;  */
  transition: all 200ms ease-in-out;
  height: 45vmax;
  width: 100%;
}

.bg-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.077) 40%,rgb(33,37,41) 100%);
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card > img {
  display: block;
  transition: all 200ms ease-in-out;
  height: 100%;
  aspect-ratio: 4 / 3;
}

.card {
  overflow: hidden;
}

.card > img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.btn span {
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: -8px;
  vertical-align: middle;
  right: -20px;
  transition: 0.5s;
  font-size: 1.5rem;
}

.btn span {
  padding-right: 25px;
}

.btn:hover span::after {
  opacity: 1;
  right: 0;
}

.serviceCard > img {
  display: block;
  transition: all 200ms ease-in-out;
  height: 100%;
  aspect-ratio: 4 / 3;
}